<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa's Pizza</title>

    <!-- Link to JavaScript -->
    <script src="js/pizza.js" defer></script>
    <script src="//code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>

    <script defer>
        let table = new DataTable('#order-table');
    </script>

    <!-- Favicon -->
    <link rel="icon" href="images/pizza-icon.jpg">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="styles/pizza-styles.css">
</head>
<body>
    <main>
        <header>
            <img src="images/pizza-guy.jpg" alt="Poppa">
            <h1>Papa's Pizza</h1>
            <p id="tagline">The best pizza GRC students have ever tasted!</p>
            <hr>
            <p>Poppa’s Pizza serves up fresh, handcrafted pizzas with 
                bold flavors and a warm, family-friendly vibe.</p>
        </header>
        <h1>Admin Page</h1>
        <table id="order-table" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Toppings</th>
                    <th>Size</th>
                    <th>Comment</th>
                    <th>Date/Time</th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach(order => { %>

                <tr>
                    <td><%= order.fname %> <%= order.lname %></td>
                    <td><%= order.email %></td>
                    <td><%= order.toppings %></td>
                    <td><%= order.size %></td>
                    <td><%= order.comment %></td>
                    <td><%= order.timestamp %></td>
                </tr>

                <% }); %>

            </tbody>
        </table>
    <main>


</body>
</html>